vim/plugged/clever-f.vim 
vim/plugged/fzf.vim 
vim/plugged/gen_tags.vim
vim/plugged/indentLine 
vim/plugged/jedi-vim
vim/plugged/quickfix-reflector.vim 
vim/plugged/undotree 
vim/plugged/vim-airline 
vim/plugged/vim-airline-themes 
vim/plugged/vim-easymotion 
vim/plugged/vim-fugitive 
vim/plugged/vim-sayonara 
vim/plugged/vimux 
